@font-face {
    font-family: DripFont;
    src: url("/fonts/drip.otf");
}

@font-face {
    font-family: contentFont;
    src: url("/fonts/content.ttf");
}

body{
	background-image: url("/img/index/notebg.jpg");
}

#enter-message {
    text-align: center;
    padding: 10px;
    background: rgb(247,247,247);
    color: rgb(119,119,119);
    font-family:DripFont;
}

#wrapper{
	float: left;
	margin: 0 auto;
	width: 73%;
}

#main-menu a{
	padding-left: 23px;
	color: rgb(119,119,119);
	border-radius:0;
	font-size: 2vw;
	border-bottom: 1px solid black;
	font-family: DripFont;
	background: rgba(245,160,7, 0.5);
}

#main-menu a:hover{
	color: #000;
	background: rgba(245,160,7, 1);
}

#main-menu a:last-child{
	border-bottom: 0;
}

#left-nav{
	width: 14%;
	float: left;
	min-height: 1px;
}

#right-nav{
	float:left;
	width: 13%;
}

#overflow-fix:after{
	content: "";
  	clear: both;
  	display: table;
}

#right-nav span{
	color: #000;
	font-size: 1.3vw;
	font-family: contentFont;
	background: rgba(245,160,7, 0.85);
	padding: 10px;
	text-align: center;
	border-bottom: 1.5px solid #fff;
}

#right-nav a{
	text-align: center;
	color: rgb(119,119,119);
	border-radius:0;
	font-size: 2vw;
	border-bottom: 1px solid black;
	font-family: DripFont;
	background: rgba(245,160,7, 0.5);
}

#right-nav a:hover{
	color: #000;
	background: rgba(245,160,7, 1);
}

#right-nav a:last-child{
	border-bottom: 0;
	padding: 10px;
}

.carousel-caption.d-none.d-md-block {
    font-weight: bold;
    font-size: x-large;
    font-family: contentFont;
    background: rgba(119,119,119,0.8);
}

.carousel-caption.d-none.d-md-block p {
    color: rgb(245,160,7);
}

.row {
    background: rgba(247,247,247,0.87);
    margin: 0;
}

.info-title {
    margin-top: 10px;
    font-family: DripFont;
    color: rgb(245,160,7);
    text-align: center;
}

.line {
    height: 1px;
    border-radius: 5px;
    background-color: rgba(52, 58, 64, 0.9);
}

.info-content {
    font-family: contentFont;
}

.btn.btn-dark{
    width: 100%;
    text-align: center;
}

a#first-info-button {
    color: #fff;
}

#overflow-fix{
	padding-bottom: 15px;
}

#main-footer {
	width: 70%;
	margin: auto;
    font-family: DripFont;
    margin-top: -15px;
    color: rgb(52, 58, 64);
}

@media only screen and (max-width: 360px) {
	#left-nav{
		width: 34%;
	}
	
	#wrapper{
		width: 62%;
	}

	#main-menu a {
     	font-size: 8vw important!;
    }
	
	#right-nav {
		width: 1%;
	 	display: none;
	}
}

@media only screen and (max-width: 923px) and (min-w) {
  #left-nav a {
    font-size:3.8vw;
  }
  
  #right-nav span {
    width: 98%;
    font-size:2.5vw;
  }
  
  #right-nav a {
    width: 98%;
    font-size:3vw;
  }
}